# History files
.Rhistory
.Rapp.history
.RDataTmp
.RDataTmp1
.RData
.DS_Store
Untitled.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# big data
data/
Archive/
output/
.Rproj.user
